.about-me {
  scroll-snap-type: y proximity;
  overflow: auto;
  height: 100vh;

  /* Hide scrollbar for Edge & Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;

  /* Hide scrollbar for Chrome & Safari */
  &::-webkit-scrollbar {
    display: none;
  }
  section {
    scroll-snap-align: center;
    display: flex;
    align-items: center;
  }

  .header {
    .cv-button {
      padding: 8px 24px;
      transition: 0.6s;
      width: 120px;
      text-decoration: none;
      color: var(--text-color);
      border: 2px solid var(--text-color);
    }

    .cv-button:hover {
      background-color: var(--text-color);
      color: var(--bg-color);
      transition: 0.6s;
    }
  }

  .describe {
    .describe-name {
      width: 50%;
    }
  }

  .stacks-item-list-item {
    margin: 0 0 32px 0;
    width: 100px;
    display: flex;
    align-items: center;

    img {
      width: 50px;
    }
  }

  .stacks-item {
    h2 {
      margin-right: 20%;
    }
  }
}
