// Color 
$primary-blue: #00266B;
$primary-orange: #FF9F00;
$primary-almost-black: #222;
$primary-parxl-turquoise: #068BB2;
$primary-parxl-blue: #2E358C;

$secondary-matt-blue: #2275D3;
$secondary-lint-blue: #0254EC;
$secondary-light-blue: #E5E9F0;

$mono-white: #FFFFFF;
$mono-extra-darkgrey: #666666;
$mono-darkgrey: #AFAFAF;
$mono-grey: #CCCCCC;
$mono-lightgrey: #DDDDDD;
$mono-extra-lightgrey: #FAFAFA;

// Breakpoints

$lg: 1024px;
$md: 768px;
$sm: 375px;