// Color
$primary-blue: #00266b;
$primary-orange: #ff9f00;
$primary-almost-black: #222;
$primary-parxl-turquoise: #068bb2;
$primary-parxl-blue: #2e358c;

$secondary-matt-blue: #2275d3;
$secondary-lint-blue: #0254ec;
$secondary-light-blue: #e5e9f0;

$mono-white: #ffffff;
$mono-extra-darkgrey: #666666;
$mono-darkgrey: #afafaf;
$mono-grey: #cccccc;
$mono-lightgrey: #dddddd;
$mono-extra-lightgrey: #fafafa;

// Breakpoints

$lg: 1024px;
$md: 768px;
$sm: 375px;
